/* the --color-header and others are CSS variables, which we access later. 
*/

HTML {
    --color-header: rgb(48, 117, 140);  /* color for H1-H6 and others. was deepskyblue but poor contrast. */
    --color-hilite: #b50000;  /* was red, but this avoids WAVE contrast errors */ 
    --color-focus: #56B929;
    --font-family: Serif;
    font-family: var(--font-family)
}

/* For flashed messages; make them stand out using red and italics */

#messages {
    color: var(--color-hilite);
    font-style: italic;
}


   
h1 {
    text-align: center;
    font-size: 200%;
    color: var(--color-header);
 }



h2, h3 {
    color: var(--color-header);
}
    

/* for a simple navbar. Talk to Scott if you want drop-downs. */
nav > ul {
    display: flex;
    flex-direction: row;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav > ul > li {
    flex: 0 0 auto;
    width: 15em; 
}

nav button, nav a {
    display: block;
    box-sizing: border-box; /* easier to make button and A the same size */
    width: 100%;
    height: 40px;
    padding: 0px;
    padding-bottom: 5px;
    background-color: var(--color-header); /* was #3498db */
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    /* Firefox uses font -apple-system unless I repeat the font spec here. */
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 1.4rem;
}

/* Only the top-level buttons are centered; lower ones are left-aligned. */
nav > ul > li > button , nav > ul > li > a {
    text-align: center;
}

/* because of the margin trick, this can only be used for the last element */

nav li.right {
    margin-left: auto;
}

nav button:hover, button:focus, nav a:hover, nav a:focus {
    background-color: var(--color-focus);
}

form {
    background-color: #e3e3e3; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(181, 179, 179, 0.2);
    max-width: 400px;
    margin: auto;
}

.form-group {
    margin-bottom: 15px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: var(--color-header);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
}


label {
    display: block;
    margin-top: 10px;
}

.centered-buttons {
    text-align: center;
    margin-top: 20px;
}

.button {
    display: inline-block;
    background-color: rgb(216, 222, 255);
    width: 60%;
    height: 35px;
    padding: 10px;
    padding-bottom: 5px;
    font-size: 12 rem;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
}

/* space between the sets */
.button-container {
    display: inline-block;
    margin: 5 30px; 
}

/* space between text and button (sides) */
.button-container p {
    margin-bottom: 10px; 
}



