/* the --color-header and others are CSS variables, which we access later. 
*/

HTML {
    --color-header: rgb(48, 117, 140);  /* color for H1-H6 and others. was deepskyblue but poor contrast. */
    --color-hilite: rgb(38, 109, 180);  /* was red, but this avoids WAVE contrast errors */ 
    --color-focus: #56B929;
    --font-family: Serif;
    font-family: var(--font-family)
}

/* For flashed messages; make them stand out using red and italics */

#messages {
    color: var(--color-hilite);
    font-style: italic;
}


  
h1 {
    text-align: center;
    font-size: 200%;
    color: var(--color-header);
 }



h2, h3 {
    color:rgb(35, 7, 119);
}
.information-box h2 {
    color: aliceblue;
    font-size: 150%;
}

.profile_post_container h1 {
    color: aliceblue;
    font-size: 150%;
}
h4 {
    color: var(--color-header);
    font-size: 175%;
    text-align: center;
}


/* for a simple navbar. Talk to Scott if you want drop-downs. */
nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

nav > ul {
    display: flex;
    flex-direction: row;
    margin-left: auto; 
}
 

nav ul {
    list-style-type: none;
    margin: 15px 0 0 0;
    padding: 0px;
   
}
nav > ul > li {
    flex: 0 0 auto;
    width: 15em; 
}
nav img{
    height: 115px;
    width: auto;
    margin-right: 0 10px;
    margin-top: 0px;


}
nav button, nav a {
    display: block;
    box-sizing: border-box; /* easier to make button and A the same size */
    width: 100%;
    height: 35px;
    padding: 0px;
    padding-bottom: 5px;
    background-color: var(--color-header); /* was #3498db */
    border: 1px solid black; 
    border-radius: 5%;
    cursor: pointer;
    /* Firefox uses font -apple-system unless I repeat the font spec here. */
    font-family: var(--font-family);
    color:rgb(240, 248, 244);
    font-weight: bold;
    font-size: 1.4rem;
    text-decoration: None;
}

/* Only the top-level buttons are centered; lower ones are left-aligned. */
nav > ul > li > button , nav > ul > li > a {
    text-align: center;
}

/* because of the margin trick, this can only be used for the last element */

nav li.right {
    margin-left: auto;
}

nav button:hover, button:focus, nav a:hover, nav a:focus {
    background-color: var(--color-focus);
}

form{
    background-color: #e3e3e3; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(181, 179, 179, 0.2);
    max-width: 500px;
    margin: auto;
}

.form-group {
    margin-bottom: 15px;
    max-width: 250 px;
}



input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: var(--color-header);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 3px;
}


label {
    display: block;
    margin-top: 10px;
}

.centered-buttons {
    text-align: center;
    margin-top: 20px;
}


.photobox input[type="submit"] {
    width: 120px; 
    height: 40px; 
    text-align: center;
}

.photobox input[type="file"] {
    display: inline-block; 
}
.photobox p{
    text-align: center;
}

.profile_form{
    max-width: 800px;
    background-color:rgb(166, 210, 225) ; 
    color: rgb(6, 6, 6);

}

.information-box {
    border: 2px solid rgb(235, 235, 240); 
    padding: 30px;
    margin: 10px 0; 
    border-radius: 10px; 
    background-color: rgb(47, 98, 117);
    max-width: 1000px; 
    margin: auto;
}

.information-box p {
    color: azure;
}

.information-box .button{
    border: 2px solid rgb(235, 235, 240); 
    width: 145px; 
    height: 50px; 
    background-color: rgb(250, 250, 250);
    text-align: center;
    line-height: 25px;
    font-size: 15px;
    font-family: serif; 
    border-radius: 8px;
    
}
.your-information {
    text-align: center; 
    color: rgb(45, 45, 149); 
    margin-bottom: 10px;
}

.your-skills ul,li {
    color: azure;
}

ul {
    padding: 1; 
}

li {
    padding: 5px 0; 
}

.posts table, th, td {
    padding: 8px;
    border: 1px solid rgb(246, 242, 242); 
  }
.posts table{
    width: 80%;
    margin: 0 auto;
}
.posts td{
    text-align: center;
}

.circular-image {
    max-width: 80%;
    max-height: 300px;
    border-radius: 80%;
    display: block; 
    margin-left: auto;
    margin-right: auto;
}


.profile_posts {
    font-size: medium;
    font-weight: 200;
    background-color: rgb(247, 247, 247);
    width: 100%; 
    margin-bottom: 20px; /* Margin between posts */
}

.profile_posts th, .profile_posts td {
    padding: 8px;
    border: 1px solid rgb(246, 242, 242); /* Light border for cells */
}

.profile_posts_container {
    height: 150px; 
    overflow-y: auto; /* Allows vertical scrolling */
}

.profile_post_container {
    width: 600px; 
    margin: 0 auto; 
    background-color: rgb(48, 117, 140);
    padding: 20px;
    font-size: large;
    border: 10px solid rgb(234, 246, 245);
    color: aliceblue;
}
.comment_container{
    width: 500px; 
    margin: 0 auto; 
    background-color: rgb(41, 73, 95);
    padding: 30px;
    font-size: large;
    border: 10px solid rgb(255, 255, 255);
}


.post_detail {
    margin-bottom: 10px; 
}

.searchform input[type= "submit"] {
    margin-top: 10px;
    max-width: 40%;
}


.home_posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.post {
    text-align: left; 
    margin: auto;
    margin-bottom: 15px;
    background-color: rgb(244, 245, 245);
    border: 2px solid rgb(48, 117, 140);
    width: calc(28.33% - 10px); 
    height:350px;
    border-radius: 10px;
    align-items: center;
}


.post_title {
    font-size: 1.15em;
    text-align: center;
    background-color: rgb(48, 117, 140);
    color: rgb(248, 252, 255);
    font-weight: bold;
    margin-bottom: 5px;
    height: 50px; 
    text-overflow: ellipsis; 
    padding: 10px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}


.post_body {
    font-size: 1em;
    color: rgb(39, 43, 43);
    overflow: auto;
    padding: 5px;
    
    
}

.custom-link {
    text-decoration: none; 
    color: black; 
    cursor: pointer; 
}

.edit-cell {
    text-align: center; 
}

.search_result_post_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.search_result_post{
    text-align: left; 
    margin: auto;
    margin-bottom: 20px;
    background-color: rgb(244, 245, 245);
    border: 1px solid black;
    width: calc(30.33% - 10px); 
    height:400px;
    align-items: center;

}


.title{
    font-size: 1.15em;
    text-align: center;
    background-color: rgb(48, 117, 140);
    color: rgb(248, 252, 255);
    font-weight: bold;
    height: 50px; 
    text-overflow: ellipsis; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.search_result_text{
    padding: 0 25px 0 25px;
}

.search_result_text .body{
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 10px;
    
}

.search_result_text .contact_info{
    font-size: larger;
    text-align: center;
}

.search_result_post_container .search_result_post input[type="submit"]{
    background-color: rgb(48, 117, 140);
    color: white;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.no_post{
    color: red;
    font-weight: bold;
    text-align: center;
}
.match{
    color: rgb(48, 117, 140);
    font-weight: bold;
    text-align: left; 
}
.interest-form{
    background-color: transparent;
    align-items: center;
    box-shadow: "";
    
}

.interested_people{
    width: 500px; 
    margin: 0 auto; /* Center the container */
    background-color: rgb(41, 73, 95);
    padding: 30px;
    font-size: large;
    border: 10px solid rgb(246, 242, 242);
}

.interested_people .list_interest{
    padding: 10px;
}


.pencil {
    display: block; 
    margin: 0 auto; 
    width: 24px;
}

.hand{
    
    display: block; 
    margin: 0 auto; 
    width: 24px;
    float: left;
}
