{% extends "base.html" %}

{% block main_content %}
<body>
    <h1>Welcome {{ name }}!</h1>

    <div class="information-box">
        <h2>Your information:</h2>
        <p>Username: {{ username }}</p>
        <p>Email: {{ email }}</p>

        <h3 class="your-skills">Skills:</h3>
        <ul>
            {% for task in all_skills %}
            <li>{{ task.skill }}</li>
            {% endfor %}
        </ul>

    </div>

    <div class="photobox">
    <h3> Your current photo: </h3>
    
</div>
</body>




{% endblock %}