{% extends "base.html" %}

{% block main_content %}

    <h1>Welcome {{userdata.f_name }}!</h1>

        <div> 
            {% if picture %}
            
             <img src="{{ picture }}" alt="User Photo" class="circular-image">
            {% endif %}
        </div>


        <div class="information-box">
            <h2>Your Information:</h2>
            <p> Name: {{userdata.f_name}} {{userdata.l_name}} </p>
            <p>Username: {{userdata.username}}</p>
            <p>Email: {{userdata.email}}</p>

           
            {% if posts %}
             <h2>Your Posts:</h2>
                <div class="profile_posts_container">
                    {% for post in posts %}
                        <table class="profile_posts"> 
                            <tr> 
                                <th>Title</th> 
                                <th>Body</th>
                                <th>Category</th> 
                                <th>Post Status</th>
                            </tr> 
                            <tr> 
                                <td>
                                    <a href="{{ url_for('view_post', pid=post.pid) }}" class="custom-link">{{ post.title }}</a>
                                </td>
                                <td>{{ post.body }}</td>
                                <td>{{ post.categories }}</td> 
                                <td>{{ post.status }}</td>
                                <td class="edit-cell">
                                    <img class="pencil" src="https://static.vecteezy.com/system/resources/previews/024/029/499/original/school-item-pencil-with-transparent-background-free-png.png">
                                    <a href="{{ url_for('update_post', pid=post.pid) }}" class="custom-link">Edit</a>
                                </td>
                            </tr> 
                        </table>
                    {% endfor %}
                </div>
            {% endif %}
        
        
           

            <h3 class="your-skills">Your Skills:</h3>
            <div>
            <ul>
                {% if all_skills %}
                    {% for task in all_skills %}
                    <li>{{ task.skill }}</li>
                    {% endfor %}
                {%endif%}
                </ul>
            </div>
            <button class ="button" type="submit" name="action" value="Update">Update</button>
            <button class= "button" type="submit" name="action" value="UploadPhoto">Upload Photo</button>
            <button class= "button" type="submit" name="action" value="Delete">Delete Account</button>
        </div>
    </form>
    <div> 
</div>



{% endblock %}