<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <!-- for mobile-friendly pages -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=author content="">
    <title>Wendy Works is a website for on campus task completion by Wellesley students for Wellesely students</title>
    <link rel='stylesheet' href="{{url_for('static', filename = 'style.css')}}">
    {% block head_stuff %} {% endblock %}
</head>
<body>

            
{% block nav %}
<nav class="navbar">
  <img src="{{url_for('static', filename='images/'+ logo)}}" alt="logo">
  <ul>
    {% if 'uid' in session %}
      <li><a href="{{ url_for('logout') }}">Logout</a></li>
      <li><a href="{{ url_for('profile', uid=session['uid']) }}">Profile</a></li>
      <li><a href="{{url_for('search')}}"> Search Posts</a></li>
      <li><a href="{{url_for('insert_post')}}"> New Post</a></li>
      
    {% endif %}
  </ul>
</nav>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div id="messages">
  {% for msg in messages %}
  <p>{{msg}}</p>
  {% endfor %}
</div>
{% endif %}
{% endwith %}
{% endblock %}

{% block main_content %}
<h1>Welcome!</h1>
{% endblock %}

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  {% block end_scripts %}
  {% endblock %}
  
</body>
</html>
