{% extends "base.html" %}

{% block main_content %}
<h1>{{header}}</h1>
    <table class="posts"> 
        <tr> 
            <th>Title</th> 
            <th>Text</th> 
            <th>Categories</th> 
            <th>Status</th>
            <th>Post Date</th>
            <th>Poster Contact Information</th>
        </tr> 
        <tr> 
            <td>{{post_info.title}}</td> 
            <td>{{post_info.body}}</td> 
            <td>{{post_info.categories}}</td> 
            <td>{{post_info.status}}</td>
            <td>{{post_info.post_date}}</td>
            <td>{{account_info.email}}</td>
        </tr> 
    </table>  



{% endblock %}