{% extends "base.html" %}

{% block main_content %}

<h1> Welcome to Wendy Works! </h1>
<h4> Our Most Recent Posts! </h4>

{% if posts %}
<div class="home_posts">
    {% for post in posts %}
    <div class="post">
        <div class="post_title">{{ post.title }}</div>
        <div class="post_body">
            <p>Posted by {{ post.f_name }}:</p>
            <p>{{ post.body }}</p>
            <p>Posted Date: {{post.post_date}}</p>
            <p>Current Status: {{ post.status }}</p>
        </div>
        <form class="interest-form" method="GET" action="{{url_for('insert_interest', pid = post.pid)}}">
            <input type="submit" name="action" value="I'm interested"></input>
        </form>  
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}