{% extends "base.html" %}

{% block main_content %}
<h1>Insert a Post on this Page!</h1>
    <form  method=post action="{{url_for('insert_post')}}">
        <fieldset>
        <legend>Make a post</legend>
        <table>
                <tr><td><label for="title"> Title your post:</label></td>
                <td><input id="title" type="text" name="title"></td></tr>

            <tr><td><label for="body"> Describe your request or service:</label></td>
                <td><textarea id="body" name="body" rows="5" cols="33"></textarea></tr>
                
            <tr>
                <td><label>Is this a request or service:</label> <br></td>
                
               
                <td>
                    <label for="provision">Provision</label>
                    <input type="checkbox" id = "provision" name="type" value="provision">
                   
                

                    <label for="request">Request</label>
                    <input id ="request" type="checkbox" name="type" value="request">
                
                
                </td></tr>
            
            <tr><td><label> Check off relevant categories:</label> <br> </td>
            
            <td>    
            <label for="clothing">Clothing (sewing, hemming, etc.)</label>
            <input type="checkbox" id="clothing" name="category" value="clothing">
            
            <br>
            <label for="fitness">Fitness</label>
            <input type="checkbox" id="fitness" name="category" value="fitness">
           
            <br> 
            <label for="beauty">Beauty</label>
            <input type="checkbox" id="beauty" name="category" value="beauty">
            
            <br> 
            <label for="crafts">Crafts</label>
            <input type="checkbox" id="crafts" name="category" value="crafts">
            
            <br> 
            <label for="transportation">Transportation</label>
            <input type="checkbox" id="transportation" name="category" value="transportation">
            
            <br>
            <label for="photo">Photography</label>
            <input type="checkbox" id="photo" name="category" value="photo">
            
            <br>
            <label for="other">Other</label>
            <input type="checkbox" id="other" name="category" value="other">
            
            
            </td></tr>
        </table>
        </fieldset>

        <p> <input type='submit' value='Upload Post'> </p>

    </form>

{% endblock %}