{% extends "base.html" %}

{% block main_content %}
<h1>{{header}}</h1>

<p>{{message}}</p>
<form method="post" action="{{url_for('login')}}">
    <div class="form-group">
        <label for="username"><b>Username: </b></label>
        <input type="text" placeholder="Enter username" name="username" id="username">
    </div>
    <div class="form-group">
        <label for="passw"><b>Password: </b></label>
        <input type="password" placeholder="Enter password" name="passw" id="passw">
    </div>
    <button type="submit" name="action" value="Login">Login</button>
    <p> Don't have an account?</p>
    <button type="submit" name="action" value="Create Account">Create Account</button>
</form>


{% endblock %}