{% extends "base.html" %}

{% block main_content %}

    
  

    <div class="profile_post_container">
        <h1>Post Information</h1>
        <div class="post_detail">
            <strong>Title:</strong> {{ post.title }}
        </div>
        <div class="post_detail">
            <strong>Body:</strong> {{ post.body }}
        </div>
        <div class="post_detail">
            <strong>Categories:</strong> {{ post.categories }}
        </div>
        <div class="post_detail">
            <strong>Post Status:</strong> {{ post.status }}
        </div>
        <div class="post_detail">
            <img class="hand" src="https://cdn-icons-png.flaticon.com/512/4406/4406307.png" alt="Raised hand">
            <strong>Interest Count: </strong> {{post.interest_count}}
        </div>
 

    {% if all_interested %}
    <div class="interested_people">
    
        <p><strong>Contact Info of Interested Sibs:</strong></p>
      
        <ul>
        {% for interested in all_interested %}
        <li><strong>Name:</strong> {{interested.f_name}} <br> <strong>Email:</strong> {{interested.email}}</li> 
        {% endfor %}
        </ul>
      
    
    </div>
    {% endif %}

    <div class="comment_container">
        <p><strong>Comments</strong></p>
        <ul>
            {% for comment in comments %}
                <div class="comment_block">
                        <p>{{comment.f_name}} (User {{ comment.uid }}): {{ comment.body }} </p>
                </div>    
            {% endfor %}
        </ul>
        <div class="comment_submission">
            <form method="POST" action="{{ url_for('add_comment', pid=post.pid) }}">
                <label for="body">Add a Comment</label>
                <textarea id = "body" name="body" required></textarea>
                <button type="submit">Submit</button>
            </form>
        </div>
        
        
    </div>
</div>

    
{% endblock %}