{% extends "base.html" %}

{% block main_content %}
  

    <div class="profile_post_container">
        <h3>Post Information</h3>
        <div class="post_detail">
            <strong>Title:</strong> {{ post.title }}
        </div>
        <div class="post_detail">
            <strong>Body:</strong> {{ post.body }}
        </div>
        <div class="post_detail">
            <strong>Categories:</strong> {{ post.categories }}
        </div>
        <div class="post_detail">
            <strong>Post Status:</strong> {{ post.status }}
        </div>
    </div>

    <div class="interested_people">
    {% if all_interested %}
        <h3><strong>Contact Info of Sibs Interested in Helping:</strong></h3>
        {% for interested in all_interested %}
        <ul>
        <li><strong>Name:</strong> {{interested.f_name}} <br> <strong>Email:</strong> {{interested.email}}</li> 
        </ul>
        {% endfor %}

    </div>
    {% endif %}
{% endblock %}