{% extends "base.html" %}

{% block main_content %}


{%if providers%}
<p class="match">Provider posts matching {{key_phrase}}:</p>
 
    <div class="search_result_post_container">
    {%for provider in providers%} 
        <div class="search_result_post">
            <div class="search_result_text"> 
                <a href="{{ url_for('view_post', pid=provider.pid) }}"><p class="title">{{provider.title}}</p></a>
                <p class="contact_info">Contact Info: {{provider.email}}</p>
                <p class="body"> {{provider.body}} </p>
                <p>Categories: {{provider.categories}}</p> 
                <p>Status: {{provider.status}}</p>
                <p> Post Date: {{provider.post_date}}</p>
                
            </div>
            <form class="interest-form" method="GET" action="{{url_for('insert_interest', pid = provider.pid)}}">
                <input type="submit" name="action" value="I'm interested">
            </form>  
        </div>
    </div>
    {%endfor%}
{% else %}
<p class="no_post">There are currently no posts including your subject.</p>
</body>
{%endif%}

{% endblock %}