{% extends "base.html" %}

{% block main_content %}
<p>This page will show a list of providers who made a post. This page is ideal for those looking for someone to provide them with a service</p>
{%if providers%}
<p>Provider posts matching {{key_phrase}}:</p>

   
    <table class="posts"> 
    <tr>    
        <th>Post ID</th>  
        <th>Title</th> 
        <th>Text</th> 
        <th>Categories</th> 
        <th>Status</th>
        <th>Post Date</th>
        <th>Contact Info</th>
    </tr> 
   
    {%for provider in providers%}

    <tr> 
        <td><a href="{{ url_for('view_post', pid=provider.pid) }}">{{provider.pid}}</a></td>
        <td>{{provider.title}}</td> 
        <td>{{provider.body}}</td> 
        <td>{{provider.categories}}</td> 
        <td>{{provider.status}}</td>
        <td>{{provider.post_date}}</td>
        <td>{{provider.email}}</td>
    </tr> 
    {%endfor%}


</table>  
{%else%}
<h3> There are no matches for your query. </h3>

    

{%endif%}

{% endblock %}