{% extends "base.html" %}

{% block main_content %}
<p>This page will show a list of providers who made a post. This page is ideal for those looking for someone to provide them with a service</p>
<p>Provider posts matching {{key_phrase}}:</p>
<body>

    <div class="search_result_post_container">
    {%for provider in providers%} 
        <div class="search_result_post">
            <div class="search_result_text"> 
                <p class="title">{{provider.title}}</p>
                <p class="body"> {{provider.body}} </p>
                <p>Categories: {{provider.categories}}</p> 
                <p>Status: {{provider.status}}</p>
                <p> Post Date: {{provider.post_date}}</p>
                <p class="contact_info">Contact Info: {{provider.email}}</p>
            </div>
        </div>
    {%endfor%}
    </div>
    
</body>

{% endblock %}