{% extends "base.html" %}

{% block main_content %}
<h1>{{header}}</h1>
<div class="searchform">
    <form  method="GET" action="{{url_for('search')}}">
        <label>I am looking to
            <select required name="kind">
                <option value="">choose one</option>
                <!-- i.e. I am looking to request a service -->
                <option value="provision">request a service</option>
                <!-- i.e. I am looking to provide a service -->
                <option value="request">provide a service</option>
            </select>
        </label>
        <p><label>Service subject <input type="text" required name="query"></label>
        
        <input type="submit" value="search"></p>
    </form>
</div>

{% endblock %}